@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

/* ------------------------------- */

@import "tailwindcss";

/* ------------------------------- */

@theme {
  --font-display: "Jersey 15", system-ui;
}

:root {
  --background-start: oklch(21.197% 0.04265 256.477);
  --background-middle: oklch(28.197% 0.04265 256.477);
  --background-end: oklch(25.833% 0.07346 252.938);
}

html {
  background-image: linear-gradient(
    200deg,
    var(--background-start) 0%,
    var(--background-middle) 50%,
    var(--background-end) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes spinbounce {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(120deg);
  }
  60% {
    transform: rotate(210deg);
  }
  80% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
