---
import Login from "./Header/Login.svelte";
import PlayButton from "./Header/PlayButton.astro";
---

<header
  class="grid grid-cols-3 items-center min-w-full px-10 py-1 bg-gradient-to-r from-[#243c57] to-[#1E3E62]"
>
  <!-- Navigate inside of the page sections -->
  <nav class="justify-self-start font-display">
    <ul
      class="flex items-center text-balance text-center gap-8 text-orange-400 text-lg cursor-pointer"
    >
      <li
        class="hover:text-orange-200 hover:rotate-6 transition-[transform, colors] duration-100 opacity-90"
      >
        <a href="">Ranking</a>
      </li>
      <li
        class="hover:text-orange-200 hover:rotate-6 transition-[transform, colors] duration-200 opacity-90"
      >
        <a href="#how-to-play">Reglas</a>
      </li>
      <li
        class="hover:text-orange-200 hover:rotate-6 transition-[transform, colors] duration-200 opacity-90"
      >
        <a href="#gamemodes">Modos de Juego</a>
      </li>
      <li
        class="hover:text-orange-200 hover:rotate-6 transition-[transform, colors] duration-200 opacity-90"
      >
        <a href="/">Contacto</a>
      </li>
    </ul>
  </nav>

  <PlayButton />

  <!-- TODO: Connect to backend and add conditional rendering between my login or profile components -->
  <Login client:load />
</header>
