---
import PlayButton from "./Header/PlayButton.astro";
---

<header class="flex items-center min-w-full">
  <!-- Navigate inside of the page sections -->
  <nav>
    <ul class="flex gap-4 text-orange-400 font-semibold">
      <li>Ranking</li>
      <li>Reglas</li>
      <li>Modos de Juegos</li>
      <li>Contacto</li>
    </ul>
  </nav>

  <PlayButton />
</header>
