---
import HeroSection from "./Main/HeroSection.astro";
import HowToPlaySection from "./Main/HowToPlaySection.astro";
import GameModesSection from "./Main/GameModesSection.astro";
import RankingSection from "./Main/RankingSection.astro";
---

<main>
  <HeroSection />
  <HowToPlaySection />
  <GameModesSection />
  <RankingSection />
</main>
