---
import Arrow from "./Main/Arrow.astro";
import Bomb from "./Main/Bomb.astro";
import Card from "./Main/Card.astro";
import Explosion from "./Main/Explosion.astro";
import Ranking from "./Main/Ranking/Ranking.astro";
import RankingItem from "./Main/Ranking/RankingItem.astro";
---

<main>
  <section
    id="hero"
    class="flex relative flex-col items-center justify-center lg:min-h-[100dvh] mb-4"
  >
    <hgroup
      class="flex items-center flex-col text-center my-12 text-white font-display text-shadow-sm text-shadow-orange-800"
    >
      <h1 class="lg:text-6xl tracking-wider font-extrabold">Wordbomb</h1>
      <h2 class="lg:text-4xl py-2 opacity-90">
        Piensa rápido, escribe aún más rápido...
        <span class="text-shadow-md text-shadow-yellow-700 text-orange-100"
          >o explota!</span
        >
      </h2>
    </hgroup>
    <Bomb
      class="absolute -z-10 -translate-y-4 -translate-x-6"
      width={240}
      height={240}
      fill="oklch(62.26% 0.1203 52.1)"
      base="oklch(50.26% 0.1203 52.1)"
      fuse="oklch(30.26% 0.1203 52.1)"
    />
    <Arrow
      class="absolute -z-20 motion-safe:animate-[spinbounce_6s_cubic-bezier(0.68,-0.55,0.265,1.55)_infinite]"
      fill="oklch(58.91% 0.2300 28.2)"
      width={300}
      height={360}
    />
    <Explosion class="absolute opacity-20 -z-10 left-10 bottom-20" />
    <Explosion class="absolute opacity-20 -z-10 right-30 top-20" />
    <Explosion
      class="absolute opacity-20 -z-10 left-80 top-10 -rotate-[20deg]"
    />
    <Explosion
      class="absolute opacity-20 -z-10 right-100 bottom-0 rotate-[20deg]"
    />
    <Explosion class="absolute -z-10 scrollanim-explode motion-reduce:hidden" />
  </section>
  <section
    id="how-to-play"
    class="relative box-content pt-16 flex flex-col items-center"
  >
    <Explosion
      class="absolute opacity-50 scale-180"
      outerColor="#BA421A"
      innerColor="#8E1E18"
    />
    <h2
      class="lg:text-5xl tracking-wide font-extrabold font-display text-white text-shadow-sm opacity-80 text-shadow-yellow-800 rotate-3"
    >
      Cómo jugar
    </h2>
    <div class="flex flex-row items-center justify-center gap-6 my-8 pb-12">
      <Card class="-rotate-8" emoji="🎮">
        <p class="opacity-90">Crea o unete a una sala</p>
      </Card>
      <Card emoji="⌨️">
        <p class="opacity-90">
          Escribe rápido una palabra con la sílaba que te toca
        </p>
      </Card>
      <Card class="rotate-4" emoji="🏆">
        <p class="opacity-90">El último en pie gana. ¡No explotes! 💣</p>
      </Card>
    </div>
  </section>

  <section
    id="gamemodes"
    class="relative box-content pt-16 flex flex-col items-center"
  >
    <Explosion
      class="absolute opacity-50 -z-10 scale-180"
      strokeColor="#4792CB"
      outerColor="#4792CB"
      innerColor="#222222"
    />
    <h2
      class="lg:text-5xl tracking-wide font-extrabold font-display text-white text-shadow-sm opacity-80 text-shadow-yellow-800 -rotate-3"
    >
      Modos de juego
    </h2>
    <div class="flex flex-row items-center justify-center gap-6 my-8 pb-12">
      <Card
        animate={false}
        class="rotate-8"
        emoji="🤔"
        fromColor="oklch(32.43% 0.0831 240.8)"
        toColor="oklch(42.43% 0.0831 240.8)"
        borderColor="oklch(62.43% 0.0831 240.8)"
      >
        <h3 class="text-cyan-200 font-extrabold">Clásico</h3>
        <p class="opacity-90">¡Piensa rápido!</p>
      </Card>
      <Card
        animate={false}
        emoji="⏮️"
        fromColor="oklch(42.43% 0.0831 240.8)"
        toColor="oklch(32.43% 0.0831 240.8)"
        borderColor="oklch(62.43% 0.0831 240.8)"
      >
        <h3 class="text-cyan-200 font-extrabold">Volteado</h3>
        <p class="opacity-90">¡Escribe la palabra que toque al revés!</p>
      </Card>
      <Card
        animate={false}
        class="-rotate-4"
        emoji="☠️"
        fromColor="oklch(32.43% 0.0831 240.8)"
        toColor="oklch(42.43% 0.0831 240.8)"
        borderColor="oklch(62.43% 0.0831 240.8)"
      >
        <h3 class="text-cyan-200 font-extrabold">Hardcore</h3>
        <p class="opacity-90">Fallar = Morir</p>
      </Card>
    </div>
  </section>
  <section id="ranking" class="relative box-content flex flex-col items-center">
    <h2
      class="lg:text-5xl tracking-wide font-extrabold font-display text-white text-shadow-sm opacity-80 text-shadow-yellow-800 mb-4 drop-shadow-lg drop-shadow-orange-600"
    >
      RANKING
    </h2>
    <Ranking>
      <RankingItem username="Ejemplo" elo={3000} />
      <RankingItem username="Ejemplo" elo={2000} />
      <RankingItem username="Ejemplo" elo={1000} />
      <RankingItem username="Ejemplo" elo={800} />
      <RankingItem username="Ejemplo" elo={700} />
      <RankingItem username="Ejemplo" elo={600} />
      <RankingItem username="Ejemplo" elo={500} />
    </Ranking>
    <a
      href="/ranking"
      class="flex justify-center align-middle items-center self-center mb-8 font-display-header text-black/80 bg-yellow-200 text-lg w-fit px-2 py-0.5 rounded-md outline-black/80 outline-3 before:content-['▼'] before:mr-1 before:text-[#212121]/90 duration-200 hover:scale-105 hover:bg-amber-100"
      >Ver ranking completo</a
    >
  </section>
  <section
    id="footer"
    class="flex w-full h-24 items-center justify-between text-white bg-blue-950/40 shadow-[0_-5px_10px_rgba(0,0,0,0.1)] [&>div]:nth-[2]:border-r-2 [&>div]:nth-[2]:border-l-2 [&>div]:nth-[2]:border-white/20"
  >
    <div class="flex flex-1 h-full justify-center font-mono items-center">
      <p>&copy; {new Date().getFullYear()} Call of Code</p>
    </div>
    <div
      class="flex flex-1 h-full justify-center font-bold font-mono items-center text-cyan-200 hover:text-cyan-400"
    >
      <address>
        <a href="mailto:contact@callofcode.com">contact@callofcode.com</a>
      </address>
    </div>
    <div
      class="flex flex-1 h-full justify-center font-semibold font-mono items-center text-cyan-200 hover:text-cyan-400"
    >
      <a href="https://isam.educacionadventista.com/"
        >Técnico Superior Analista en Sistemas</a
      >
    </div>
  </section>
</main>
